/* regole generali */
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1380px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inizio regole per header */
header {
    width: 100%;
    margin-bottom: 5px;
}
/* regole clearfix */
header::after {
    content: '';
    display: table;
    clear: both;
}

header .float.left {
    float: left;
    line-height: 50px; 
    width: 40%;
}

header .float.right {
    float: right;
    line-height: 50px;
    width: 40%;
    text-align: right;
}

header nav.first.nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-right: 30px;
}

header nav.first.nav ul li:hover {
    border-bottom: 1px solid black;
}

header nav.first.nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 0.7rem;
}

header nav.first.nav ul li.btn.header a {
    color: #fff;
    background-color:#0061FF;
    padding: 5px 15px;
}

#logo {
    margin-left: 30px;
}
/* fine regole per header */

/* inizio jumbo */
section.jumbotron {
    background-color: #B4D0E7;
}

.jumbotron .container-jumbo {
    width: 90%;
    margin: auto;
}

.jumbotron h1 {
    width: 100%;
    text-align: left;
    padding: 40px 0px;
    font-size: 4.5rem;
    font-weight: bolder;
}

.jumbotron p {
    font-size: 0.9rem;
    padding-bottom: 20px;
}

.jumbotron .btn.prova{
    padding: 5px 15px;
    color: #fff;
    background-color: #0061ff;
    text-decoration: none;
}

.jumbotron img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.jumbotron #p {
    padding-top: 20px;
}

.jumbotron i {
    font-size: 2rem;
    color: #000;
}
/* regole clearfix jumbo */
section.jumbotron .clearfix.jumbo::after {
    content: '';
    display: table;
    clear: both;
}

.jumbotron .container-jumbo div.float.left {
    float: left;
    width: 40%;
    text-align: left;
}

.jumbotron .container-jumbo div.float.right {
    float: right;
    width: 60%;
}
/* fine jumbotron */

/* inizio main */
/* regole generali per il main */
main .container {
    background-color: grey; /*rimuovere*/
    width: 80%;
    margin: auto;
    /* height: 1000px; rimuovere */
}

main section {
    margin-bottom: 50px;
}

/* sezione pagamenti */
main div.clearfix {
    width: 100%;
    margin-bottom: 20px;
}
/* regole clearfix */
main div.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

main div.container h2.plan {
    width: 100%;
    background-color: rosybrown; /*rimuovere*/
    margin-bottom: 30px;
}

main div.container div.fatturazione {
    width: 100%;
    background-color: rosybrown; /*rimuovere*/
    margin-bottom: 20px;
}

main div.container div.fatturazione span {
    background-color: beige; /*rimuovere*/
    margin-right: 20px;
}

main div.clearfix div.float {
    float: left;
    width: calc(100% / 3);
    height: 500px; /*rimuovere */
    background-color: #fff; /*rimuovere */
    border: 1px solid red; 
}

/*main div.clearfix div.float.standard {  ---> regola per distanziare elementi flottanti
    margin-right: 20px;
    margin-left: 20px;
} */

section.payment div.top {
    height: 30px;
    width: 100%;
    background-color: bisque; /*rimuovere*/
    border-bottom: 1px solid red; 
}

section.payment div.bottom {
    /* height: 95%; rimuovere */
    width: 100%;
    background-color: orange; /*rimuovere*/
}

div.enterprise {
    width: 100%;
    background-color: #fff; /*rimuovere*/
    height: 150px; /*rimuovere*/
    border: 1px solid red; 
}
/* fine sezione pagamenti */
/* inizio sezione partner */
section div.partner {
    width: 100%
}

section div.partner::after {
    content: '';
    display: table;
    clear: both;
}

div.partner div.img {
    float: left;
    width: 50%;
    background-color: green; /*rimuouvere*/
    padding-right: 30px;
}

div.partner div.text {
    float: right;
    width: 50%;
    background-color: green; /*rimuouvere*/
    padding-left: 30px;
}
/* fine sezione partner */
/* inizio sezione operations */
section.operations div.op-clearfix .row-one::after {
    content: '';
    display: table;
    clear: both;
}

section.operations div.op-clearfix .row-two::after {
    content: '';
    display: table;
    clear: both;
}

section.operations div.op-clearfix {
    background-color: aliceblue; /*rimuovere*/
    height: 500px; /*rimuovere*/
}

.operations .row-one {
    width: 100%;
}

.operations .float {
    float: left;
    background-color: darkcyan; /*rimuovere*/
    width: calc(100% / 3);
    padding: 40px;
}
/* fine sezione operations */
/* inizio sezione logos */
main section.logos {
    width: 100%;
    background-color: gold; /*rimuovere*/
}
/* regole clearfix sezione logos */
section.logos div.col-container::after {
    content: '';
    display: table;
    clear: both;
}
/* fine reg cleearfix */
section.logos div.col-container div.col {
    float: left;
    background-color: blanchedalmond; /*rimuovere*/
    border: 1px solid red; /*rimuovere*/
    height: 300px; /*rimuovere*/
}

section.logos div.col-container div.col.col-left, section.logos div.col-container div.col.col-right {
    width: 30%;
}

section.logos div.col-container div.col.col-center {
    width: 40%;
}

section.logos div.row-bottom {
    background-color: coral; /*rimuovere*/
    height: 150px; /*rimuovere*/
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
}
/* regole clearfix per row-bottom */
section.logos div.row-bottom::after {
    content: '';
    display: table;
    clear: both;
}
/* fine regole clearfix */
section.logos div.row-bottom .first {
    float: left;
}

section.logos div.row-bottom .second {
    float: right;
}
/* fine regole css per sezione loghi */
/* inizio sezione faq */
section.faq div.row {
    width: 100%;
    background: gray; /*rimuovere*/
}